* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.cookieCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  padding-top: 0;
  font-family: sans-serif;
  width: 150px;
  height: 200px;
  bottom: -80px;
}

.cookieCounter h1 {
  font-size: 4rem;
  margin: 0;
}

.cookieButton {
  width: 150px;
  cursor: pointer;
  user-select: none;
}

.cookieResetButton {
  width: 500px;
  height: 500px;
  display: block;
}

.speechBubble {
  position: relative;
  background: white;
  border: 2px solid black;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 1rem;
  left: 90px;
  bottom: -60px;
}

.speechBubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 30px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: black transparent transparent;
}
